template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Auth flow - Cognito signup -> PostConfirmation Lambda -> Step Functions -> DynamoDB / SNS

Parameters:
  CallbackUrl:
    Type: String
    Description: "Callback URL for Cognito Hosted UI (e.g. https://your-app/callback)"

Globals:
  Function:
    Timeout: 20
    Runtime: java17
    MemorySize: 512
    Architectures:
      - arm64
    Environment:
      Variables:
        JAVA_TOOL_OPTIONS: -XX:+TieredCompilation -XX:TieredStopAtLevel=1

Resources:
  TestLambda:
    Type: AWS::Serverless::Function
    Properties:
      Handler: com.freelance.handlers.TestHandler::handleRequest
      CodeUri: .
      Runtime: java17
      Events:
        TestEndpoint:
          Type: Api
          Properties:
            RestApiId: !Ref AuthApi
            Path: /test
            Method: get

  ## API Gateway
  AuthApi:
    Type: AWS::Serverless::Api
    Properties:
      StageName: dev
      Name: auth-api
      Auth:
        Authorizers:
          CognitoAuthorizer:
            UserPoolArn: !GetAtt CognitoUserPool.Arn

  ## Cognito user pool
  CognitoUserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: freelance-userpool
      AutoVerifiedAttributes:
        - email
      UsernameAttributes:
        - email
      LambdaConfig:
        PostConfirmation: !GetAtt PostConfirmationLambda.Arn
      Schema:
        - Name: email
          AttributeDataType: String
          Mutable: true
          Required: true
        - Name: given_name
          AttributeDataType: String
          Mutable: true
          Required: true
        - Name: middle_name
          AttributeDataType: String
          Mutable: true
          Required: false
        - Name: family_name
          AttributeDataType: String
          Mutable: true
          Required: true
        - Name: phone_number
          AttributeDataType: String
          Mutable: true
          Required: false
        - Name: custom:preferred_job
          AttributeDataType: String
          Mutable: true
          Required: false

  ## Cognito User Pool Client
  CognitoUserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      ClientName: freelance-client
      UserPoolId: !Ref CognitoUserPool
      AllowedOAuthFlows:
        - implicit
      AllowedOAuthFlowsUserPoolClient: True
      AllowedOAuthScopes:
        - email
        - openid
        - profile
      CallbackURLs:
        - !Ref CallbackUrl
      SupportedIdentityProviders:
        - COGNITO
      GenerateSecret: false

  ## Cognito User Pool Domain
  CognitoUserPoolDomain:
    Type: AWS::Cognito::UserPoolDomain
    Properties:
      Domain: !Sub user-pool-domain-${AWS::AccountId}
      UserPoolId: !Ref CognitoUserPool

  ## Cognito Groups
  CognitoAdminGroup:
    Type: AWS::Cognito::UserPoolGroup
    Properties:
      GroupName: Admins
      Description: "Administrators of the freelance platform with elevated privileges"
      Precedence: 1
      UserPoolId: !Ref CognitoUserPool

  CognitoUserGroup:
    Type: AWS::Cognito::UserPoolGroup
    Properties:
      GroupName: Users
      Description: "Regular users of the freelance platform"
      Precedence: 10
      UserPoolId: !Ref CognitoUserPool

  ## DynamoDB tables
  UsersTable:
    Type: AWS::Serverless::SimpleTable
    Properties:
      TableName: users
      PrimaryKey:
        Name: userId
        Type: String

  AccountsTable:
    Type: AWS::Serverless::SimpleTable
    Properties:
      TableName: accounts
      PrimaryKey:
        Name: accountNumber
        Type: String

  JobsTable:
    Type: AWS::Serverless::SimpleTable
    Properties:
      TableName: jobs
      PrimaryKey:
        Name: jobId
        Type: String

  ## SNS topic
  UserNotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: user-notifications

  ## Role used by Step Function task Lambdas
  StepFunctionsLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: StepFunctionLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:GetItem
                Resource:
                  - !GetAtt UsersTable.Arn
                  - !GetAtt AccountsTable.Arn
              - Effect: Allow
                Action:
                  - sns:Subscribe
                  - sns:ListSubscriptionsByTopic
                  - sns:Publish
                Resource:
                  - !Ref UserNotificationTopic
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: "*"

  ## Step Function Lambdas
  GenerateUserIdLambda:
    Type: AWS::Serverless::Function
    Properties:
      Handler: com.freelance.handlers.user.GenerateUserId::handleRequest
      CodeUri: .
      Role: !GetAtt StepFunctionsLambdaRole.Arn

  SaveUserDataLambda:
    Type: AWS::Serverless::Function
    Properties:
      Handler: com.freelance.handlers.user.SaveUserData::handleRequest
      CodeUri: .
      Environment:
        Variables:
          USER_TABLE_NAME: !Ref UsersTable
      Role: !GetAtt StepFunctionsLambdaRole.Arn

  GeneratePaymentAccountLambda:
    Type: AWS::Serverless::Function
    Properties:
      Handler: com.freelance.handlers.user.GeneratePaymentAccount::handleRequest
      CodeUri: .
      Environment:
        Variables:
          ACCOUNTS_TABLE: !Ref AccountsTable
      Role: !GetAtt StepFunctionsLambdaRole.Arn

  SavePaymentAccountLambda:
    Type: AWS::Serverless::Function
    Properties:
      Handler: com.freelance.handlers.user.SavePaymentAccount::handleRequest
      CodeUri: .
      Environment:
        Variables:
          ACCOUNTS_TABLE: !Ref AccountsTable
      Role: !GetAtt StepFunctionsLambdaRole.Arn

  SubscribeUserToSnsLambda:
    Type: AWS::Serverless::Function
    Properties:
      Handler: com.freelance.handlers.user.SubscribeUserToSns::handleRequest
      CodeUri: .
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref UserNotificationTopic
      Role: !GetAtt StepFunctionsLambdaRole.Arn

  ## Step Functions execution role
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: StepFunctionsInvokePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:*"
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: "*"

  ## State machine
  UserRegistrationStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "User registration workflow",
          "StartAt": "GenerateUserId",
          "States": {
            "GenerateUserId": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${GenerateUserIdLambda.Arn}",
                "Payload.$": "$"
              },
              "Next": "SaveUserData"
            },
            "SaveUserData": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${SaveUserDataLambda.Arn}",
                "Payload.$": "$.Payload"
              },
              "Next": "GeneratePaymentAccount"
            },
            "GeneratePaymentAccount": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${GeneratePaymentAccountLambda.Arn}",
                "Payload.$": "$.Payload"
              },
              "Next": "SavePaymentAccount"
            },
            "SavePaymentAccount": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${SavePaymentAccountLambda.Arn}",
                "Payload.$": "$.Payload"
              },
              "Next": "SubscribeToSns"
            },
            "SubscribeToSns": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${SubscribeUserToSnsLambda.Arn}",
                "Payload.$": "$.Payload"
              },
              "End": true
            }
          }
        }

  ## PostConfirmation Lambda
  PostConfirmationLambda:
    Type: AWS::Serverless::Function
    Properties:
      Handler: com.freelance.handlers.user.PostConfirmation::handleRequest
      CodeUri: .
      Environment:
        Variables:
          STATE_MACHINE_ARN: !GetAtt UserRegistrationStateMachine.Arn
      Role: !GetAtt PostConfirmationLambdaRole.Arn

  PostConfirmationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: PostConfirmationPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:*"
              - Effect: Allow
                Action:
                  - cognito-idp:AdminAddUserToGroup
                Resource:
                  - !Sub "arn:aws:cognito-idp:${AWS::Region}:${AWS::AccountId}:userpool/*"
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: "*"

  ## Allow Cognito to invoke PostConfirmation Lambda
  LambdaPermissionForCognito:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt PostConfirmationLambda.Arn
      Action: lambda:InvokeFunction
      Principal: cognito-idp.amazonaws.com
      SourceArn: !GetAtt CognitoUserPool.Arn


  JobAPIGateway:
    Type: AWS::Serverless::Api
    Properties:
      StageName: dev
      Name: job-api-gateway
      Auth:
        Authorizers:
          CognitoAuthorizer:
            UserPoolArn: !GetAtt CognitoUserPool.Arn

  PutJobLambda:
    Type: AWS::Serverless::Function
    Properties:
      Handler: com.freelance.handlers.job.SaveJobData::handleRequest
      CodeUri: .
      Timeout: 30
      Environment:
        Variables:
          JOB_TABLE_NAME: !Ref JobsTable
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref JobsTable
      Events:
        ApiEvents:
          Type: Api
          Properties:
            Path: /job
            Method: POST
            RestApiId: !Ref JobAPIGateway
            Auth:
              Authorizer: CognitoAuthorizer

Outputs:
  UserPoolId:
    Description: Cognito User Pool ID
    Value: !Ref CognitoUserPool

  UserPoolClientId:
    Description: Cognito User Pool Client ID
    Value: !Ref CognitoUserPoolClient

  HostedUi:
    Description: Cognito Hosted UI login URL
    Value: !Sub "https://${CognitoUserPoolDomain}.auth.${AWS::Region}.amazoncognito.com/login?client_id=${CognitoUserPoolClient}&response_type=token&scope=email+openid+profile&redirect_uri=${CallbackUrl}"

  ApiEndpoint:
    Description: API Gateway Endpoint
    Value:
      Fn::Sub: https://${JobAPIGateway}.execute-api.${AWS::Region}.amazonaws.com/dev

  UserRegistrationStateMachineArn:
    Description: State machine ARN
    Value: !Ref UserRegistrationStateMachine

  UsersTableName:
    Value: !Ref UsersTable

  AccountsTableName:
    Value: !Ref AccountsTable

  UserNotificationTopicArn:
    Value: !Ref UserNotificationTopic